@import url("https://fonts.cdnfonts.com/css/montserrat");
@import url("https://fonts.cdnfonts.com/css/space-grotesk");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat";
  scroll-behavior: smooth;
}
h1 {
  font-family: "Space Grotesk" !important;
}
html,
body {
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1728px;
  margin: 0 auto;
  padding: 0 20px;
}
header {
  background-color: #9351e8;
  padding: 20px 0;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
header nav ul li a {
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  position: relative;
  cursor: pointer;
}
header nav ul li .bar {
  width: 0px;
  height: 2px;
  background-color: #fff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
header nav ul li:hover .bar {
  width: 15px;
  height: 2px;
  background-color: #fff;
}
header .button_contact {
  padding: 10px 40px;
  border-radius: 1000px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #07080d;
  text-transform: uppercase;
}
.bubble img {
  width: 250px;
}
.section_a {
  background-color: #000;
  padding: 0 20px;
}
.fisrt_section {
  padding: 110px 0;
  display: flex;
  align-items: center;
  justify-content: end;
}
.text_area {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 40px;
  z-index: 90;
}
.text_area .top_text {
  font-size: 16px;
  color: #fff;
  max-width: fit-content;
}
.text_area h1 {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  text-align: right;
  max-width: fit-content;
}
.text_area h1 strong {
  font-family: "Space Grotesk" !important;
  color: #9351e8;
}
.text_area .button,
.section_d .button {
  border: 2px dashed #fff;
  padding: 20px 30px;
  color: #fff;
  display: block;
  margin-top: 20px;
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  font-weight: 700;
}
.text_area .button img,
.section_d .button img {
  position: absolute;
  right: -22px;
  top: 47px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.text_area .button:hover,
.section_d .button:hover {
  background-color: #fff;
  color: #07080d;
}
.text_area .button:hover img,
.section_d .button:hover img {
  transform: scale(1.7);
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -ms-transform: scale(1.7);
  -o-transform: scale(1.7);
}
.slider {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
  width: 60%;
}
.slider_card {
  padding: 28px 22px;
  background-color: rgba(147, 81, 232, 0.8);
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  transition: all 0.3s ease-in-out !important;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  position: relative;
}
.slider_card:hover {
  transform: translateY(-10px);
}
.profile_feedback {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
}
.profile_feedback img {
  width: 32px;
  height: 32px;
  border-radius: 1000px;
  object-fit: cover;
}
.info_feedback {
  display: flex;
  flex-direction: column;
}
.info_feedback .name {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}
.info_feedback .function {
  font-size: 12px;
  color: #fff;
}
.content_feedback .content_title {
  font-size: 12px;
  color: #c2c2c4;
  font-weight: 700;
  margin-bottom: 10px;
}
.star {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.content_feedback .content {
  color: #fff;
  margin-bottom: 150px;
}
.scroll {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 1px solid #fff;
  padding: 4px 10px;
  border-radius: 1000px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  max-width: fit-content;
  margin: 0 auto;
}
.second_section {
  padding: 230px 0 170px 0;
  opacity: 0;
}
.second_section h1 {
  font-weight: 700;
  color: #fff;
  font-size: 52px;
  margin-bottom: 48px;
}
.second_section h1 strong {
  font-family: "Space Grotesk" !important;
  color: #9351e8;
}
.card_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
.card_wrapper:nth-of-type(2) {
  margin-top: 60px;
}
.card img {
  margin-bottom: 24px;
  box-shadow: 1px 10px 40px -9px rgba(147, 81, 232, 1);
  -webkit-box-shadow: 1px 10px 40px -9px rgba(147, 81, 232, 1);
  -moz-box-shadow: 1px 10px 40px -9px rgba(147, 81, 232, 1);
}
.card .title_card {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  font-family: "Space Grotesk" !important;
  margin-bottom: 10px;
  max-width: 370px;
}
.card .content_card {
  color: #fff;
  max-width: 400px;
  font-size: 20px;
}
.button_second {
  padding: 15px 60px;
  background-color: #9351e8;
  max-width: fit-content;
  display: block;
  margin: 70px auto 0 auto;
  font-weight: 700;
  color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 1px 10px 40px -9px rgba(147, 81, 232, 1);
  -webkit-box-shadow: 1px 10px 40px -9px rgba(147, 81, 232, 1);
  -moz-box-shadow: 1px 10px 40px -9px rgba(147, 81, 232, 1);
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.button_second:hover {
  background-color: #fff;
  color: #000;
}
.section_a {
  background-image: url(../images/background-1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section_b {
  padding: 170px 0;
  background-color: #000;
}
.about_us_h1 {
  font-size: 52px;
  color: #fff;
}

.section_b strong {
  color: #9351e8;
}
.about_us {
  color: #fff;
  max-width: 530px;
  line-height: 240%;
  font-family: "Montserrat";
  margin-top: 20px;
}
.about_us strong {
  color: #fff;
}
.section_b {
  background-image: url("../images/background-about-us.png");
  background-position: center right;
  background-repeat: no-repeat;
  transition: transform 0.2s ease-out; /* Adiciona uma transição suave */
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.about_us_button {
  margin-top: 200px;
  display: block;
  color: #fc9bfc;
  text-decoration: underline;
}
.section_c {
  padding: 150px 0 110px 0;
  background-image: url("../images/background-case.png");
  background-color: #000;
  background-position: left center;
  background-size: cover;
}
.section_c .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.section_c .container h1 {
  color: #fff;
  text-align: right;
  font-size: 52px;
  max-width: fit-content;
}
.section_c .container h1 strong {
  color: #9351e8;
}
.gallery_wrapper {
  overflow-x: hidden;
}
.gallery_items {
  display: none;
  gap: 8px;
}
.gallery_items.active {
  display: flex;
  gap: 8px;
}
.gallery_items img {
  width: 100%;
  max-width: 300px;
  height: 300px;
}
.section_d {
  background-image: url("../images/bgsolid.png");
  background-position: center;
  background-size: cover;
  padding: 135px 0;
}
.section_d .container h1 {
  font-size: 52px;
  text-align: center;
  color: #fff;
}
.section_d .container h1 strong {
  color: #9351e8;
}
.section_d .container p {
  color: #fff;
  text-align: center;
  max-width: 594px;
  margin: 20px auto;
}
.section_d .container .button {
  margin: 40px auto;
  max-width: fit-content;
  display: block;
}
.section_d .container > * {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.section_d .container > *.show {
  opacity: 1;
  transform: translateY(0);
}
.section_e {
  background-image: url("../images/bgsolid2.png");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}
.section_e .container h1 {
  font-size: 52px;
  text-align: center;
  color: #fff;
}
.section_e .container h1 strong {
  color: #9351e8;
}
.section_e .container p {
  color: #fff;
  text-align: center;
  margin-top: 20px;
}
.pic_name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pic_name img {
  max-width: 300px;
}
.about_ceo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  gap: 40px;
}
.about_content {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.about_ceo p {
  text-align: left !important;
  font-family: "Montserrat";
}
.pic_name .name {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  font-family: "Space Grotesk" !important;
  margin: 0;
}
.pic_name .cargo {
  margin: 10px 0 0 0 !important;
  color: #616065 !important;
}
.about_title {
  font-size: 40px;
  color: #fff;
  margin: 0 !important;
  font-weight: 700;
}
.about_text {
  font-size: 20px;
  line-height: 160%;
  color: #fff;
  width: 100%;
  max-width: 480px;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.section_f {
  background-color: #040507;
  padding: 200px 0;
}
.section_f .brasil_map {
  width: 100%;
  max-width: 700px;
}
.section_f h1 {
  font-size: 52px;
  color: #fff;
}
.section_f p {
  font-size: 16px;
  color: #fff;
  max-width: 393px;
  line-height: 160%;
  margin: 10px 0 0 0 !important;
}
.section_f a {
  background-color: #9351e8;
  color: #fff;
  padding: 11px 30px;
  border-radius: 1000px;
  display: block;
  text-decoration: underline;
  max-width: fit-content;
  margin-top: 40px;
}
.section_f .section_content img {
  margin-bottom: 20px;
}
.map {
  position: relative;
  width: 50%;
  max-width: 700px;
}
.section_f .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dot {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 1000px;
  border: 1px solid #f8b14d;
  top: 65%;
  right: 24%;
}
.full_dot {
  width: 10px;
  height: 10px;
  background-color: #f8b14d;
  border-radius: 1000px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.dot2 {
  top: 65%;
  right: 30%;
}
.dot.dot3 {
  top: 63%;
  right: 27%;
}
.dot.dot4 {
  top: 63%;
  right: 33%;
}
.dot.dot5 {
  top: 60%;
  right: 30%;
}
.dot.dot6 {
  top: 65%;
  right: 24%;
}
.dot.dot7 {
  top: 57%;
  right: 27%;
}
.dot.dot8 {
  top: 57%;
  right: 33%;
}
.dot.dot9 {
  top: 54%;
  right: 30%;
}
.dot.dot10 {
  top: 52%;
  right: 33%;
}
.dot.dot11 {
  top: 50%;
  right: 27%;
}
.dot.dot12 {
  top: 54%;
  right: 24%;
}
.dot.dot13 {
  top: 45%;
  right: 36%;
}
.dot.dot14 {
  top: 53%;
  right: 20%;
}
.dot.dot15 {
  width: 40px;
  height: 40px;
  border-color: #ae3bae;
  top: 58%;
  right: 20%;
}
.dot15 .full_dot {
  width: 20px;
  height: 20px;
  background-color: #ae3bae;
  border-radius: 1000px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.dot15::before {
  content: "";
  display: block;
  width: 133px;
  height: 50px;
  position: relative;
  left: 27px;
  top: -18px;
  background-image: url("../images/pinmap.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.dot15:hover::before {
  opacity: 1;
}
.dot15:hover {
  background-color: #ae3bae !important;
}
.dot:hover {
  background-color: #f8b14d;
}
h1.section_f_title_2 {
  margin-top: 70px;
}
.cursor::after {
  content: "|";
  animation: blink 0.7s infinite alternate;
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.section_g {
  background-color: #000;
  padding: 150px 0;
}
.section_g .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.footer1 {
  background-color: #9351e8;
  padding: 78px 0;
}
.footer1 h1 {
  font-size: 24px;
  font-family: "Space Grotesk" !important;
  color: #fff;
}
.footer1 p {
  max-width: 400px;
  color: #fff;
  font-size: 16px;
  line-height: 200%;
  margin-top: 20px;
}
.footer2 {
  padding: 24px 0;
  background-color: #000;
}
.footer2 .container {
  text-align: center;
}
.footer2 p,
.footer2 a {
  color: #616065;
}
.footer3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: #000;
  gap: 4px;
  color: #616065;
}
.footer3 a {
  color: #616065;
}
.loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
}

.background {
  background-color: rgba(0, 0, 0, 1);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.logo_animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 100;
  opacity: 0;
}

.name_logo {
  transition: opacity 1s ease;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.bubble {
  animation: float 3s infinite alternate ease-in-out;
  opacity: 0.7;
}
@keyframes float {
  0% {
    transform: translate(0, -50%);
  }
  100% {
    transform: translate(0, -50%) translateY(-20px);
  }
}
.logo_bubble {
  transition: transform 1s ease, width 1s ease;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.card {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.card.fade-in {
  opacity: 1;
}
.section_e .container > * {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.section_e .container > *.show {
  opacity: 1;
  transform: translateY(0);
}
#typedText::after {
  content: "";
  width: 5px;
  height: 40px;
  margin-left: 4px;
  display: inline-block;
  background-color: #fff;
  animation: blink-animation 0.8s infinite;
}
@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.form-step {
  display: none;
}
#form-etapas {
  padding: 40px 40px 200px 40px;
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
  max-width: 700px;
  position: relative;
}
#form-etapas label {
  color: #1d1d1d;
  font-size: 16px;
}
#form-etapas input {
  width: 100%;
  max-width: 700px;
  height: 50px;
  outline: 0;
  margin-top: 10px;
  border-top: #fff;
  border-left: #fff;
  border-right: #fff;
  border-bottom: 1px solid #1d1d1d;
}
#form-etapas input::placeholder {
  font-size: 22px;
  color: #ccc;
}
.form-step {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.form-step-title {
  font-size: 22px;
  margin-bottom: 80px;
}
#form-etapas button {
  background-color: #9351e8;
  width: 42px;
  height: 42px;
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back-step {
  position: absolute;
  bottom: 40px;
  right: 100px;
}
.next-step {
  position: absolute;
  bottom: 40px;
  right: 40px;
}
.content_tittle {
  font-size: 32px;
  color: #fff;
}
.content_tittle strong {
  color: #9351e8;
}
.progress-bar {
  width: 0%;
  height: 10px;
  background-color: #9351e8;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.5s ease-in-out;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
textarea#mensagem {
  width: 100%;
  height: 200px;
  margin-top: 10px;
  padding: 20px;
}
.btns {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
#prevBtn,
#nextBtn {
  width: 40px;
  height: 40px;
  background-color: #9351e8;
  border: 0;
  border-radius: 4px;
  display: block;
  color: #fff;
  font-weight: 700;
}
@media (max-width: 1360px) {
  .title_card {
    font-size: 20px !important;
  }
  p.content_card {
    font-size: 14px !important;
  }
  .card.fade-in {
    width: 100% !important;
    max-width: 230px !important;
  }
}
@media (max-width: 1300px) {
  .bubble {
    position: absolute;
    left: 0;
  }
  .content_feedback .content {
    margin-bottom: 50px;
  }
}
@media (max-width: 1080px) {
  .button_menu {
    display: flex !important;
  }
  .bubble {
    position: absolute;
    left: 0;
    top: 310px;
  }
  .content_feedback .content {
    color: #fff;
    margin-bottom: 50px;
    font-size: 12px;
  }
  .fisrt_section {
    padding: 110px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .second_section h1 {
    font-weight: 700;
    color: #fff;
    font-size: 52px;
    margin-bottom: 48px;
    text-align: center;
  }
  .card_wrapper {
    flex-direction: column;
    align-items: center;
  }
  .card .content_card {
    color: #fff;
    width: 100% !important;
    max-width: 100% !important;
    font-size: 20px !important;
  }
  .card.fade-in {
    width: 100% !important;
    max-width: 100% !important;
    text-align: center;
  }
  .card .title_card {
    width: 100%;
    max-width: 100%;
  }
  .text_area {
    align-items: center;
    margin: 0 !important;
  }
  .text_area h1 {
    text-align: center;
  }
  .slider {
    width: 100%;
    margin-top: 80px;
  }
  .button_contact,
  nav {
    display: none !important;
  }
  .section_c .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
  }
  .gallery_items img {
    width: 33%;
    height: auto;
    max-width: initial !important;
  }
  .section_c .container h1 {
    text-align: center;
  }
  .about_ceo {
    flex-wrap: wrap;
  }
  .about_us_h1 {
    font-size: 52px;
    color: #fff;
    text-align: center;
  }
  .about_us {
    color: #fff;
    width: 100%;
    text-align: center;
    max-width: 100%;
    line-height: 240%;
    font-family: "Montserrat";
    margin-top: 20px;
  }
  .about_us_button {
    margin-top: 80px;
    display: block;
    color: #fc9bfc;
    text-decoration: underline;
    text-align: center;
  }
  .about_content {
    justify-content: center;
    align-items: center;
  }
  .about_ceo p {
    text-align: left !important;
    font-family: "Montserrat";
    text-align: center !important;
  }
  .section_f .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
  }
  .map {
    position: relative;
    width: 100%;
    max-width: 100%;
  }
  .section_f .brasil_map {
    width: 100%;
    max-width: 100%;
  }
  .section_content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section_g .container {
    display: flex;
    flex-direction: column;
  }
  .section_f_title_2 {
    font-size: 32px !important;
  }
}
@media (max-width: 768px) {
  .slider {
    flex-direction: column;
  }
  .section_b {
    background-image: initial !important;
  }
  .section_f_title_2 {
    font-size: 22px !important;
  }
  .bubble {
    display: none;
  }
}
.button_menu {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  display: none;
  z-index: 200;
}
.button_menu .line {
  width: 30px;
  height: 4px;
  border-radius: 1000px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  background-color: #fff;
}
.button_menu.active .line:nth-of-type(2) {
  display: none;
}
.button_menu.active .line:nth-of-type(1) {
  transform: rotate(45deg) translate(8px, 8px);
}
.button_menu.active .line:nth-of-type(3) {
  transform: rotate(130deg);
}
.menu_mob {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 150;
  opacity: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  pointer-events: none;
}
.menu_mob.active {
  opacity: 1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  pointer-events: all;
}
.menu_mob ul {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.menu_mob ul li a {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  position: relative;
  cursor: pointer;
}
